/* GENERAL */
:root {
	--primary-bg-color: rgb(240, 240, 240);
	--secondary-bg-color: rgb(255, 255, 255);
	--tertiary-bg-color: rgb(225, 225, 225);
	--primary-text-color: black;
	--secondary-text-color: rgb(125, 125, 125);
	--primary-border-radius: 1rem;
	--secondary-border-radius: 4px;
	--primary-border: 1px solid rgb(230, 230, 230);
	--secondary-border: 1px solid rgb(212, 212, 212);
	--tertiary-border: 2px solid rgb(65, 89, 228);
	--primary-button-color: rgb(65, 89, 228);
	--primary-button-color-hover: rgb(118, 74, 240);
	--item-active-bg-color: rgb(226, 255, 226);
	--secondary-bg-color-dark: black;
	--item-active-text-color: green;
	--font-family: 'Noto Sans', sans-serif;
	--danger-color: red;
}

/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: var(--primary-bg-color);
	font-family: 'Noto Sans', sans-serif;
}

/* PAGE STYLE */

.logo {
	font-size: 1.8rem;
	width: 90%;
	font-weight: 800;
}

.top-navbar {
	padding: 1rem 1.5rem;
	display: flex;
	list-style: none;
	justify-content: space-between;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}
.top-navbar span {
	cursor: pointer;
}
.top-navbar a {
	color: inherit;
}
.alert-circle::after {
	content: '5';
	position: absolute;
	font-size: 10px;
	border-radius: 50%;
	background-color: var(--danger-color);
	width: 16px;
	height: 16px;
	color: var(--secondary-bg-color);
	transform: translate(100%, -180%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
}
main {
	padding: 1rem 1.5rem;
	margin-bottom: 3.5rem;
}
.account-items {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}
.account-items {
	list-style-type: none;
}
.account-items :is(li, a) {
	width: 100%;
	display: flex;
	border-radius: var(--secondary-border-radius);
	padding: 1rem;
	gap: 8px;
	align-items: center;
	background-color: var(--secondary-bg-color);
}
.account-items li:last-child {
	padding: 0;
}
.account-items li {
	border: var(--primary-border);
}
.account-items a {
	padding: 1rem;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.account-items img {
	width: 2rem;
	border: var(--primary-border);
	border-radius: 50%;
}
.account-items h4 {
	font-size: 0.8rem;
}

.navbar-bottom {
	padding: 0.5rem 1rem;
	border-top: var(--primary-border);
	background-color: var(--secondary-bg-color);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.navbar-bottom ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

.navbar-bottom a {
	color: inherit;
}

.navbar-bottom span {
	background-color: var(--primary-bg-color);
	padding: 0.5rem 1rem;
	border-radius: var(--secondary-border-radius);
	border: var(--primary-border);
}

.navbar-bottom span.nav-item-on {
	background-color: transparent;
	color: var(--secondary-bg-color);
	border: none;
	background-color: var(--secondary-bg-color-dark);
}
.hidden {
	display: none;
}
.visibility-off {
	visibility: hidden;
}
