/* GENERAL */
:root {
	--primary-bg-color: rgb(240, 240, 240);
	--secondary-bg-color: rgb(255, 255, 255);
	--secondary-bg-color-dark: black;
	--tertiary-bg-color: rgb(225, 225, 225);
	--primary-text-color: black;
	--secondary-text-color: rgb(125, 125, 125);
	--primary-border-radius: 1rem;
	--secondary-border-radius: 4px;
	--primary-border: 1px solid rgb(230, 230, 230);
	--tertiary-border: 2px solid rgb(65, 89, 228);
	--primary-button-color: rgb(65, 89, 228);
	--primary-button-color-hover: rgb(118, 74, 240);
	--item-active-bg-color: rgb(226, 255, 226);
	--item-active-text-color: green;
	--primary-font-family: 'Noto Sans', sans-serif;
	--danger-color: red;
}
/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: var(--primary-bg-color);
	font-family: var(--primary-font-family);
}
img {
	width: 100%;
}
.button {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.icon {
	width: 32px;
}
/* PAGE STYLE */
.alert-circle::after {
	content: '5';
	position: absolute;
	font-size: 10px;
	border-radius: 50%;
	background-color: var(--danger-color);
	width: 16px;
	height: 16px;
	color: var(--secondary-bg-color);
	transform: translate(100%, -180%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
}

.primary-button {
	background-color: var(--primary-button-color);
	border: none;
	color: var(--secondary-bg-color);
	min-width: 60px;
	height: 20px;
	border-radius: var(--secondary-border-radius);
}
.top-navbar {
	padding: 1rem 1.5rem;
	display: flex;
	list-style: none;
	justify-content: space-between;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}
.top-navbar span {
	cursor: pointer;
}
.top-navbar a {
	color: inherit;
}

.top-navbar-fixed {
	background-color: var(--secondary-bg-color);
	border-bottom: var(--primary-border);
	justify-content: center;
}

.top-navbar-fixed .logo {
	font-size: 1rem;
}

.logo {
	font-size: 1.8rem;
}
.avatar {
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
}
main {
	padding: 0 1.5rem;
	min-height: 95vh;
	margin-bottom: 18vh;
}
section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
article,
.activity-information-ancle {
	padding: 1rem;
	border-radius: var(--secondary-border-radius);
	background-color: var(--secondary-bg-color);
	border: var(--primary-border);
	display: flex;
	flex-direction: column;
}

:where(article, .activity-information-ancle) h4 {
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	gap: 4px;
	justify-content: flex-end;
}

:where(article, .activity-information-ancle) figure {
	display: flex;
	align-items: center;
	gap: 4px;
}
:where(article, .activity-information-ancle) h4 {
	margin-bottom: 0.5rem;
}
:where(article, .activity-information-ancle) h4 span:first-of-type {
	font-size: 1rem;
}
:where(article, .activity-information-ancle) figcaption {
	display: flex;
	align-items: center;
}

:where(article, .activity-information-ancle) a.primary-button {
	padding: 16px;
	text-decoration: none;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	margin-left: 0.2rem;
}
.activity-information-ancle {
	text-decoration: none;
	color: inherit;
}
.general-section-contact {
	margin-left: auto;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
.general-section-teacher {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.general-section-teacher img {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.general-section-teacher figcaption {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}
.general-section-teacher :is(h6, li, p) {
	font-size: 0.75rem;
}
.general-section-teacher :is(li, p) {
	color: rgb(95, 95, 95);
}
.general-section-teacher p {
	text-align: justify;
}
.general-section-teacher ul {
	padding-left: 1rem;
}
.general-section-teacher p {
	grid-column: 1/-1;
}
.general-section-timeline {
	display: flex;
	flex-direction: column;
}
table {
	width: 100%;
}
caption {
	border: var(--primary-border);
	border-bottom: none;
}
table,
table :is(td, th) {
	border: var(--primary-border);
	border-collapse: collapse;
	color: rgb(95, 95, 95);
}
table :is(td, th, caption) {
	text-align: right;
	padding: 4px;
	font-size: 0.7rem;
}

.timeline-button {
	margin-left: auto;
	margin-top: 0.5rem;
	height: 30px;
	font-size: 0.7rem;
}

.activities-section-units {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-bg-color);
	border-radius: var(--secondary-border-radius);
	border: var(--primary-border);
}
.activities-section-units li {
	font-size: 0.8rem;
	padding: 0.8rem 0.7rem;
	border-top: 3px solid transparent;
	border-bottom: 8px solid transparent;
}
.activities-section-units .activities-section-unit-on {
	border-top: 3px solid var(--primary-button-color);
}

.activities-section-units .activities-section-unit-locked {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	color: gray;
}
.activities-section-unit-locked span {
	font-size: 0.9rem;
}

.activities-section h4 {
	justify-content: flex-start;
	margin-bottom: 0;
}

.activities-section-date {
	font-size: 0.8rem;
	text-align: right;
}
.activities-section p {
	text-align: justify;
	font-size: 0.8rem;
}
.activities-section .activities-section-objectives {
	margin-left: 1rem;
	font-size: 0.8rem;
	margin-top: 0.2rem;
}
:where(.activities-section article, .activity-information-ancle)
	:is(p, .activities-section-objectives) {
	color: rgb(95, 95, 95);
}
.activities-section h5 {
	font-weight: 400;
	color: black;
}
.activities-section-category {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.activities-section-category li {
	display: inherit;
	align-items: center;
	justify-content: center;
	gap: 6px;
	background-color: var(--primary-bg-color);
	padding: 0.5rem 0.7rem;
	border-radius: var(--primary-border-radius);
	border: var(--primary-border);
	color: rgb(95, 95, 95);
}
li.activities-section-category-delivered {
	color: rgb(0, 110, 42);
	background-color: rgb(190, 255, 190);
	border: 1px solid rgb(169, 218, 187);
}
li.activities-section-category-pending {
	color: rgb(207, 135, 0);
	background-color: rgb(255, 237, 203);
	border: 1px solid rgb(223, 200, 157);
}
li.activities-section-category-undelivered {
	color: red;
	background-color: rgb(250, 196, 196);
	border: 1px solid rgb(218, 169, 169);
}
.activities-section-category span {
	font-size: 1rem;
}
.activities-section-category {
	font-size: 0.8rem;
}
.grades-section article {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.grades-section :is(table, caption) {
	background-color: var(--primary-bg-color);
}
.navbar-middel {
	background-color: var(--secondary-bg-color);
	position: fixed;
	bottom: 8vh;
	left: 0;
	right: 0;
	border-top: 1px solid rgb(225, 225, 225);
}
.navbar-middel ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0 1.5rem;
}
.navbar-middel li {
	font-size: 0.8rem;
	padding: 0.8rem 0.7rem;
	border-top: 3px solid transparent;
	border-bottom: 8px solid transparent;
}
.navbar-middel .navbar-middel-on {
	border-top: 3px solid var(--primary-button-color);
	color: var(--primary-button-color);
}
.navbar-bottom {
	padding: 0.5rem 1rem;
	border-top: var(--primary-border);
	background-color: var(--secondary-bg-color);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.navbar-bottom ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	height: fit-content;
	list-style: none;
}

.navbar-bottom a {
	color: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.navbar-bottom small {
	font-size: 0.6rem;
	text-align: center;
}
.navbar-bottom .nav-item-on :is(span, small) {
	color: var(--primary-button-color);
}
.hidden {
	display: none;
}
.visibility-off {
	visibility: hidden;
}
