:root {
	--primary-bg-color: rgb(240, 240, 240);
	--secondary-bg-color: rgb(255, 255, 255);
	--secondary-text-color: rgb(90, 90, 90);
	--secondary-border-radius: 4px;
	--primary-border: 1px solid rgb(230, 230, 230);
	--primary-button-color: rgb(65, 89, 228);
	--primary-button-color-hover: rgb(118, 74, 240);
	--primary-font-family: 'Noto Sans', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: var(--primary-bg-color);
	font-family: var(--primary-font-family);
}
h1 {
	font-size: 1.5rem;
	font-weight: 800;
}

.primary-button {
	background-color: var(--primary-button-color);
	border: none;
	color: var(--secondary-bg-color);
	min-width: 60px;
	height: 20px;
}
form,
input {
	border: var(--primary-border);
}

fieldset {
	border: none;
}

input {
	border-radius: var(--secondary-border-radius);
	padding-left: 0.5rem;
	height: 2rem;
}
input[type='submit'],
input[type='reset'] {
	padding: 0;
	height: 2rem;
}

body {
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form {
	width: 100%;
	height: 50vh;
	border: none;
	background-color: transparent;
	border-radius: 0;
}
legend {
	padding: 1rem 0;
}
fieldset {
	display: flex;
	width: 90%;
	margin: auto;
	flex-direction: column;
	gap: 8px;
}
.primary-button {
	width: 100px;
	margin-left: auto;
}
.group-button {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
}
.group-button small {
	color: rgb(140, 140, 140);
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: var(--secondary-text-color);
}
footer a {
	text-decoration: none;
	color: var(--text-color-gray);
	font-size: 0.7rem;
}
footer a:hover {
	text-decoration: underline;
}
footer .links {
	list-style: none;
	display: flex;
	gap: 8px;
}
footer .separator {
	font-size: 8px;
	display: flex;
	align-items: center;
	color: var(--text-color-gray);
}
footer small {
	text-align: center;
	display: block;
	color: var(--secondary-text-color);
}
